[Unit]
Description=gunicorn daemon
Requires=quora_clone-gunicorn.socket
After=network.target

[Service]
User=ubuntu
Group=www-data
WorkingDirectory=/home/ubuntu/quora_clone
ExecStart=/home/ubuntu/quora_clone/venv/bin/gunicorn \
          --access-logfile - \
          --workers 3 \
          --bind unix:/run/quora_clone-gunicorn.sock \
          quora_clone.wsgi:application
[Install]
WantedBy=multi-user.target